@charset "utf-8";

html, body{
	background-color: #eee;
}
body,input,textarea,select,option,button{
	font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Meiryo","メイリオ", "YuGothic", "Yu Gothic", "游ゴシック体", "游ゴシック", sans-serif;
}
img, svg, video{
	max-width:100%;
	height:auto;
}
.contents pre code,
pre code{
	border:none;
	padding:0;
	margin:0;
}
dl{
	padding-left: 20px;
}

.theme_container{
	width: auto;
	max-width: 1200px;
	margin: 0 auto;
}

/**
 * ヘッダー
 */
.theme_header{
	background-color: #00a0e6;
	padding:16px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 15000;
}
body.top .theme_header{
	position: relative;
}

/**
 * メインエリア
 */
.theme_mainblock{
	background-color: #fff;
	padding: 18px 1em 1em;
	margin-top: 71px;
	@media all and (max-width: 580px) {
		padding-left: 5px;
		padding-right: 5px;
	}
}
body.top .theme_mainblock{
	margin-top: 0;
}

/**
 * Site Identity
 */
.theme_si{
	float:left;
	width: 160px;
	max-width: 90%;
	box-sizing: content-box;
}
.theme_si,
.theme_si *{
	display: block;
	font-size: xx-large;
	margin: 0;
	padding: 0;
	color: #fff;
	line-height: 1.3;
	white-space: nowrap;
}
.theme_si *:hover{
	color: #eee;
	text-decoration: none;
	opacity: 0.9;
}
.theme_si:before{
}
.theme_si{
	padding: 0 1em 0 0;
}

/**
 * グローバルメニュー
 */
.theme_globalnavi{
	float:left;
	font-size: 13px;
	ul{
		margin:0; padding:0 1em 0 1em;
		li{
			margin:0.2em 5px 0 5px; padding:0; list-style-type:none;
			display:inline-block;
			a{
				padding:0.5em 1em 0.4em 1em;
				display:block;
				color: #fff;
				font-weight: normal;
				border-radius: 1em;
				&:hover{
					color: #fff;
					background-color:rgba(255,255,255,0.2);
				}
				&.current{
					color: #000;
					background-color:#fff;
					&:hover{
						color: #000;
						background-color:#fff;
					}
				}
			}
		}
	}
}
@media all and (max-width: 580px) {
	.theme_globalnavi{
		display:none;
	}
}

/**
 * ショルダーメニュー
 */
.theme_shouldernavi{
	float:right;
	font-size: 11px;
	ul{
		margin:0; padding:0;
		li{
			margin:0 1em; padding:0; list-style-type:none;
			display:inline-block;
			a{
				padding:0.5em 1em 0.4em 1em;
				display:block;
				color: #fff;
				border-radius: 1em;
				&:hover{
					color: #fff;
					background-color:rgba(255,255,255,0.2);
				}
				&.current{
					color: #000;
					background-color:#fff;
					&:hover{
						color: #000;
						background-color:#fff;
					}
				}
			}
		}
	}
}
@media all and (max-width: 580px) {
	.theme_shouldernavi{
		display:none;
	}
}



/**
 * コンテンツエリア
 */
h1 {
	font-size: 250%;
	text-align: center;
	margin-top: 1.5em;
	margin-bottom: 1em;
	font-weight: normal;
	@media all and (min-width: 1000px) {
		font-size: 330%;
	}
	@media all and (max-width: 580px) {
		font-size: 240%;
	}
}
.contents{
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 3em;
	font-size: 110%;
	@media all and (min-width: 1000px) {
		font-size: 120%;
	}
	@media all and (max-width: 580px) {
		font-size: 100%;
	}
	h2 {
		font-size: 200%;
		padding-left: 0;
		margin-top: 2em;
		margin-left: 0;
		margin-bottom: 1em;
		border-bottom: 2px solid #333;
		font-weight: normal;
	}
	h3 {
		font-size: 130%;
		margin-top: 1.5em;
		margin-bottom: 1em;
		margin-left: 0;
		border-bottom: 1px solid #333;
		font-weight: bold;
	}
	h4 {
		margin-top: 1.5em;
		margin-bottom: 1em;
		margin-left: 0;
		border-left: 8px solid #999;
		padding: 0.2em 0 0.2em 0.5em;
		font-weight: bold;
		&:before{
			// content:'----- ';
		}
	}
	h5 {
		margin-top: 1.5em;
		margin-bottom: 1em;
		margin-left: 0;
		border-left: 4px solid #ddd;
		padding: 0.2em 0 0.2em 0.5em;
		font-weight: bold;
	}

	pre{
		margin-top: 0.5em;
		white-space: pre;
		overflow: auto;
		border: none;
		border-radius: 0;
		// background-color: #333;
		// color: #fff;
	}
	code{
		white-space: inherit;
		word-break: break-all;
		word-wrap: break-word;
		border: none;
		border-radius: 0;
		color: #333;
		// background-color: #333;
		// color: #fff;
	}
	pre code{
		border:none;
		padding:0;
		margin:0;
		white-space: pre;
		word-break: normal;
		word-wrap: normal;
		background-color: transparent;
		color: inherit;
		overflow: visible;
		@media all and (max-width: 340px){
			white-space: pre-wrap;
			word-break: break-all;
			word-wrap: break-word;
		}
	}
}

/**
 * ナビゲーション
 */
.theme_common_navi{
	margin-bottom:0.7em;
	a{
		display: block;
		padding:5px 0;
		background-color: transparent;
	}
	a.current{
		background-color: #f9f9f9;
	}
	a:before{
		content: '- ';
	}
	p{
		text-align:left;
		margin:1px 0; padding:0;
	}
	ul{
		display:block;
		margin:0; padding:0;

		li{
			display:block;
			margin:1px 0; padding:0;
			list-style-type:none;
		}
		a{
			padding-left: 10px;
			font-size:medium;
		}
		ul{
			a{
				padding-left: 25px;
				background-color: transparent;
				font-size:small;
			}
			ul a{
				padding-left: 40px;
				background-color: transparent;
				font-size:x-small;
			}
		}
	}
}

/**
 * パンくず
 */
.theme_breadcrumb{
	margin:0 0;
	ul,
	ul li{
		display:inline;
		padding: 0 0.3em 0 0;
		font-size:small;
	}
	ul{
		li:after{
			content:'>';
			margin: 0 0.3em;
		}
		li:last-child:after{
			content:'';
			margin: 0;
		}
		li span{
			font-weight:bold;
		}
	}
}



/**
 * ページトップへ戻る
 */
.theme_backtotop{
	margin: 2em 0;
	text-align: right;
}


/**
 * フッター
 */
.theme_footer{
	padding:1em 0 0.5em 0;
}

/**
 * メガフッターメニュー
 */
.theme_megafooter_navi{
	margin:0 auto 1em auto;
	zoom:1;
	font-size: 13px;
	ul{
		margin:0; padding:0;
		li{
			margin:0 5px; padding:0; list-style-type:none;
			float:left;
			display:block;
			a{
				padding:0.5em 1em 0.4em 1em;
				display:block;
				color: #000;
				border-radius: 1em;
				&:hover{
					color: #fff;
					background-color:#00a0e6;
				}
				&.current{
					color: #000;
					background-color:#fff;
					&:hover{
						color: #fff;
						background-color:#00a0e6;
					}
				}
			}
		}
	}
}
.theme_megafooter_navi:after{
	content: " ";
	display: block;
	visibility: hidden;
	height: 0.1px;
	font-size: 0.1em;
	line-height: 0;
	clear: both;
}

/**
 * ショルダーメニュー(フッター)
 */
.theme_footer_shouldernavi{
	ul{
		margin:0.5em; padding:0;
		text-align:center;
		li{
			margin:0 1em; padding:0; list-style-type:none;
			display:inline;
		}
	}
}

/**
 * サイト内検索窓
 */
.theme_footer_searcher{
	text-align: center;
	padding: 10px;
}

/**
 * フッター ソーシャルアイコン
 */
.theme_social_icons{
	text-align: center;
	font-size: 64px;
	cursor: default;
	a{
		display: inline-block;
		height: 1em;
		width: 1em;
		margin: 0.5em 0.1em;
		color: #d5d5d5;
		&:hover{
			color: #aaa;
		}
	}
}

/**
 * トップページ: ウェルカムボード
 */
.theme_welcome{
	/* top.html に実装 */
}


/**
 * .anchor_links
 */
.anchor_links{
	margin:2em 7%;
}

/* 公開日など記事の日付情報 */
.theme_article_date{
	font-size: 75%;
	text-align: right;
}
